{% extends 'account/base.html' %}
{% load account %}
{% block content %}
    <div class="modal modal-signin position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalSignin">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <h5 class="modal-title">Сброс пароля</h5>
                </div>
                <div class="modal-body p-5 pt-0">
                    <p>
                        Забыли свой пароль?
                    </p>
                    <p>
                        Введите свой адрес электронной почты ниже, и мы вышлем вам электронное письмо, позволяющее сбросить его.
                    </p>
                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            <input name="{{ form.email.name }}" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Email</label>
                        </div>
                        <button class="w-100 mb-2 btn btn-lg btn-outline-primary" type="submit">Сбросить пароль</button>
                    </form>
                </div>
            </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        </div>
    </div>
{% endblock %}