{% extends 'account/base.html' %}
{% block content %}
    <div class="modal modal-signin position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalSignin">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <h5 class="modal-title">Сменить пароль</h5>
                </div>
                <div class="modal-body p-5 pt-0">
                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>
                            Ссылка для сброса пароля недействительна, возможно, потому что она уже использовалась.
                        </p>
                        <p>
                            Пожалуйста,
                            <a class="text-decoration-none" href="{% url 'account_reset_password' %}">
                                запросите сброс пароля снова
                            </a>
                        </p>
                    {% else %}
                        <form method="POST" action="{{ action_url }}">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            {{ form.errors }}
                            <div class="form-floating mb-3">
                                <input name="{{ form.password1.name }}" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                                <label for="floatingPassword">Новый пароль</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input name="{{ form.password2.name }}" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                                <label for="floatingPassword">Новый пароль (ещё раз)</label>
                            </div>
                            <button class="w-100 mb-2 btn btn-lg btn-outline-primary" type="submit">Сменить пароль</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        </div>
    </div>
{% endblock %}