{% extends 'account/base.html' %}
{% block content %}
    <div class="modal modal-signin position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalSignin">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <h5 class="modal-title text-success">Подтвердите свой Email</h5>
                </div>
                <div class="modal-body p-5 pt-0">
                    <p class="text-primary">На Email, указанный при регистрации, направлено письмо подтверждения.</p>
                    <p class="text-primary">Вам нужно перейти по ссылке в письме для подтверждения Email.</p>
                    <p class="text-primary">После подтверждения Email регистрация будет завершена.</p>
                </div>
            </div>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div>
{% endblock %}