<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Удаление объявления</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-danger">
                <p>Объявление: "{{ content.title }}" будет удалено.</p>
                <p>Также будут удалены все отклики к этому объявлению.</p>
            </div>
            <div class="modal-footer">
                <form action="{% url 'bill_board:delete' content.pk %}" method="post">
                    {% csrf_token %}
                    <button class="form-control btn btn-outline-danger" type="submit">Удалить</button>
                </form>
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="responseModal" tabindex="-1" aria-labelledby="responseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="responseModalLabel">Добавление отклика</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{% url 'bill_board:add_response' %}">
                <div class="modal-body">
                    {% csrf_token %}
                    <input type="hidden" name="advertId" value="{{ content.pk }}">
                    {{ form.as_p }}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-primary" type="submit">Добавить</button>
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>